* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #050811;
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-image: url('./Images/Backgroundimage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
